@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<!DOCTYPE html>
<html>
<head>
    <title>XML Data Display</title>
</head>
<body>
    
    @if (Model.Root.warriors.warrior != null)
    {
        var warrior = Model.Root.warriors.warrior;
        <table>
            <tr>
                <th colspan="4">
                    <h3>Warrior</h3>
                    <p>Level: @warrior.level</p>
                </th>
            </tr>
            <tr>
                <td>
                    <p>Money: @warrior.money</p>
                </td>
                <td>
                    <p>Bonus: @warrior.bonus</p>
                </td>
                <td>
                    <p>Stamina: @warrior.stamina</p>
                </td>
            </tr>
            <tr>
                <td>
                    <p>Strength: @warrior.strength</p>
                </td>
                <td>
                    <p>Experience: @warrior.experience</p>
                </td>
                <td>
                    <p>Power: @warrior.power</p>
                </td>
            </tr>
            <tr>
                <th colspan="4">
                    <h3>Items</h3>
                </th>
            </tr>
            @if (warrior.items != null)
            {
                @foreach (var item in warrior.items.item)
                {
                    <tr>
                        <td>
                            <h6>@item.nameItem</h6>
                        </td>
                        <td>
                            <p>Upgrade Level: @item.upgradeLevel</p>
                        </td>
                        <td>
                            <p>Acquire Type: @item.acquireType</p>
                        </td>
                    </tr>
                    @if (item.enchantments != null)
                    {
                        <tr>
                            <td>
                                <h5>Enchantments</h5>
                            </td>
                        </tr>
                        @foreach (var perk in item.enchantments.perks)
                        {
                            <tr>
                                <td>
                                    <p>Perk Name: @perk.namePerk</p>
                                </td>
                                <td>
                                    @if (perk.set != null)
                                    {
                                        <p>Set Aspect: @perk.set.aspect</p>
                                    }
                                </td>
                            </tr>
                        }
                    }
                }
            }
        </table>
    }
    else
    {
        <p>No data available.</p>
    }
</body>
</html>
